{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": { "version": 3 },
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
