// Graphical variables
@import "config/fonts";
@import "config/colors";

@import "components/index";
@import "pages/index";

@import "@glidejs/glide/src/assets/sass/glide.core";


body {
  font-family: $body-font;
  color: $gray;
}


h1,
h2,
h3 {
  font-family: $headers-font;
  color: $dark-red;
}

h1 {
  letter-spacing: 0.1em;
}
