#accompagnement-banner {
  background-position: bottom;
}

.accompagnement-wrapper {
  ul {
    margin: 20px auto;
    line-height: 2em;
  }
}

@media (max-width: 991px) {
  #accompagnement-title {
    font-size: 30px;
  }
}
