#accompagnement-banner {
  background-position: bottom;
}

.accompagnement-wrapper {
  ul {
    margin: 20px auto;
    line-height: 2em;
  }
}

@media (max-width: 991px) {
  #accompagnement-title {
    font-size: 30px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 812px) and (min-device-width: 320px) and (orientation: landscape) {
  #accompagnement-banner {
    background-position: center;
  }
}
