.contact-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-self: center;
  margin: 80px auto 100px auto;
}

.contact-items {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  height: 120px;
  padding: 0 10px;
  box-shadow: 2px 0px 4px -2px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 320px;
  place-self: center;
}

.contact-items-icon {
  position: relative;
  top: calc(50% - 18px);

  i {
    font-size: 36px;
    color: $dark-red;
  }
}

.contact-items-content {
  width: 190px;

  h3 {
    margin: 10px auto 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      color: black;
    }
  }

  address {
    font-weight: 100;
  }
}


// contact form
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}


input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

.contact1 {
  max-width: 750px;
  margin: auto;
  margin-top: 40px;
}

.container-contact1 {
  width: 100%;
  background: $white;
  border-radius: 10px;
}

.contact1-form {
  width: 100%;
}

.contact1-form-title {
  display: block;
  font-family: $body-font;
  font-size: 24px;
  color: black;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}


input.input1+.shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}

textarea.input1+.shadow-input1 {
  border-radius: 25px;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  margin: 25px 0px;
}


@media (min-width: 768px) {
  .wrap-input1 {
    width: 49%;
    margin: 15px 0px;
  }
}

.input1 {
  box-sizing: border-box;
  width: 100%;
  display: block;
  background: $light-gray;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.5;
  color: $logo-gray;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  transition: all 0.4s ease;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.input1::placeholder {
  font-weight: lighter;
  color: rgba(128, 128, 128, 0.8);
}

.input1:focus,
.input1:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
  border-color: rgba(223, 225, 229, 0);
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: $dark-red;
  font-family: $body-font;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  color: $white;
  padding: 0 25px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid $dark-red;
}

.contact1-form-btn i {
  margin-left: 7px;
}

.contact1-form-btn:hover {
  background: $white;
  color: $dark-red;
  border: 1px solid $dark-red;
}

.contact1-form-btn:hover i {
  transform: translateX(10px);
}

#message-area {
  width: 100%;
  margin: 10px 0px;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 55%;
  background-color: $white;
  border: 1px solid $dark-red;
  border-radius: 13px;
  padding: 5px 25px 5px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: $body-font;
  color: $dark-red;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 10;
}

.alert-validate::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06a";
  display: block;
  position: absolute;
  color: $dark-red;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  z-index: 10;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.hide {
  display: none;
}

#valid-msg {
  color: $green;
  position: absolute;
  right: 15px;
  top: 33%;

}

#error-msg {
  color: $dark-red;
  position: absolute;
  right: 15px;
  top: 33%;
}


@media only screen and (max-width: 1200px) {
  .contact-details-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 40px auto 80px auto;
  }
}
