.catalogue-wrapper {
  ol {
    list-style: none;
    counter-reset: formation-counter;
    margin: 20px auto;
    line-height: 2em;

    li {
      counter-increment: formation-counter;
      position: relative;
    }

    li::before {
      content: counter(formation-counter) ' - ';
      font-weight: bold;
    }
  }

  ul {
    margin: 20px auto;
    line-height: 2em;
  }
}

.catalogue-link-wrapper {
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  a {
    color: $gray;
  }
}
