#pratique_pro-banner {
  background-position: center;
}


.pratique_pro-page {
  counter-reset: title;

  h4 {
    margin-bottom: -5px;
  }
}

.pratique_pro-titles {
  position: relative;
  counter-increment: title;
  font-size: 1.2rem;
  margin: 1.75rem 2rem;
  padding-left: 2.5rem;
  text-decoration: underline;
  font-weight: 600;
}

.pratique_pro-titles:before {
  content: counter(title)'.';
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: -1.1rem;
  left: -1rem;
  font-size: 1.1em;
  padding: 0.15em 0.25em;
  background: $dark-red;
  color: $white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.analysis-wrapper,
.process-wrapper,
.tools-wrapper {
  ul {
    margin: 15px auto 15px 50px;
    line-height: 1.8em;
  }
}

.process-wrapper {
  margin: 10px auto;
}

.accordion-wrapper {
  margin: 50px auto;
  width: 90%;
}

// accordion
.accordion {
  background-color: $dark-red;
  font-family: $body-font;
  letter-spacing: 1px;
  font-size: 15px;
  color: $white;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  border: 1px solid white;
  text-align: left;

  &::after {
    content: "\276F";
    text-align: center;
    font-size: 14px;
    color: $white;
    float: right;
    margin-left: 5px;
    transition: 0.35s ease;
  }
}

.first-child {
  border-radius: 8px 8px 0 0;
}

.last-child {
  border-radius: 0 0 8px 8px;
}

.accordion-active:after {
  content: "\276F";
  transform: rotate(90deg);
}

.accordion-active,
.accordion:hover {
  background-color: #9e002c;
}

.accordion-panel {
  padding: 0 20px;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}

@media only screen and (min-width: 320px) and (max-width: 812px) {

  .analysis-wrapper,
  .process-wrapper,
  .tools-wrapper {
    ul {
      margin: 15px auto;
    }
  }

  .accordion-wrapper {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .pratique_pro-page {
    max-width: 900px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

  .analysis-wrapper,
  .process-wrapper,
  .tools-wrapper {
    ul {
      font-size: 15px;
    }
  }
}
