.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(https://res.cloudinary.com/dqszntd5j/image/upload/v1592929637/4a3c2087-000d-4b80-87f2-5b41da6daba6_twtrm8.jpg);
  height: 500px;
  display: flex;
  align-items: center;

  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
  }

  h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
  }

  h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
}




.btn-flat-outline {
  margin: 20px 0;
  color: $white;
  padding: 10px 15px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid $dark-red;
  background: $dark-red;
  border-radius: 5px;

  &:hover {
    box-shadow: 1px 1px 6px 0px rgba(255, 255, 255, 0.75);
  }
}

// subBanner section

.sub-banner {}

.intro-text {
  font-size: 16px;
  margin: 10px auto;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

#sub-banner-title {
  margin: 50px auto 50px;
}

.xp {
  margin: 20px auto;
  width: fit-content;

  h3 {
    font-weight: 400;

  }
}

.fa-check {
  padding-right: 10px;
}

// services section
.services {}



// .divider {
//   height: .5px;
// }

// .divider.light {
//   background: #fff;

// }

// .divider.light:before {
//   position: relative;
//   float: left;
//   background: linear-gradient(to right, rgba(107, 0, 30, 0), rgba(107, 0, 30, 1) 50%);
//   margin-top: 2px;
//   width: 50%;
//   height: .5px;
//   content: "";
// }

// .divider.light:after {
//   position: relative;
//   float: right;
//   background: linear-gradient(to left, rgba(107, 0, 30, 0), rgba(107, 0, 30, 1) 50%);
//   margin-top: 2px;
//   width: 50%;
//   height: .5px;
//   content: "";
// }

// .width80 {
//   width: 80%;
//   margin: 0px auto;
// }

.gradient {
  height: 5px;
  position: relative;
  width: 80%;
  background: radial-gradient(ellipse farthest-side at top center, #6b001e, transparent);
  margin: auto;
}
