.pratique_pro-page {
  counter-reset: title;
  max-width: 800px;
}

.pratique_pro-titles {
  position: relative;
  counter-increment: title;
  font-size: 1.2rem;
  margin: 1.75rem 2rem;
  padding-left: 2.5rem;
  text-decoration: underline;
}

.pratique_pro-titles:before {
  content: counter(title)'.';
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: -1.1rem;
  left: -1rem;
  font-size: 1.1em;
  padding: 0.15em 0.25em;
  background: $dark-red;
  color: $white;
  border-radius: 1rem 1rem 0 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.analysis-wrapper {
  ul {
    margin: 15px auto 15px 50px;
    line-height: 1.8em;
  }
}

/* Accordion styles */
.process-wrapper,
.tools-wrapper {
  .row {
    display: flex;

    .col {
      flex: 1;

      &:last-child {
        margin-left: 1em;
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $dark-red;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #9e002c;
    }

    &::after {
      content: "\276F";
      text-align: center;
      transition: all 0.3s ease;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: $white;
    transition: all .35s;
    margin: 15px auto 15px 50px;
    line-height: 1.8em;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $dark-red;
    cursor: pointer;

    &:hover {
      background: #9e002c;
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: #9e002c;

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}


.accordion {
  background-color: $dark-red;
  color: $white;
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 17px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

  &::after {
    content: "\276F";
    text-align: center;
    font-size: 14px;
    color: $white;
    float: right;
    margin-left: 5px;
    transition: 0.35s ease;
  }
}

.accordion-active:after {
  content: "\276F";
  transform: rotate(90deg);
}

.accordion-active,
.accordion:hover {
  background-color: #9e002c;
}

.accordion-panel {
  padding: 0 18px;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}
