<section class="footer">
  <div class="footer-menu">
    <img src="" alt="logo">
    <div class="footer-info">
      <ul>
        <li>text 1</li>
        <li>BLA</li>
        <li>BLABLA</li>
        <li>BLABLABLA</li>
      </ul>
    </div>
    <a class="btn btn-ghost" href="#">Me contacter</a>

  </div>

  <div class="footer-copyright">

  </div>

</section>
