<section class="pre-navbar">
  <div class="pre-nav-links">
    <a href="mailto:clconseil@aol.fr" arial-label="email" class="pre-nav-link"><i class="fas fa-envelope"></i>clconseil@aol.fr</a>
    <a href="tel:+33680749913" arial-label="telephone" class="pre-nav-link"><i class="fas fa-mobile"></i>+ 33 6 80 74 99 13</a>
    <a href="tel:+33556755866" arial-label="telephone" class="pre-nav-link"><i class="fas fa-phone"></i>+ 33 5 56 75 58 66</a>
    <a href="https://www.linkedin.com/in/corine-pesier-73975a5b/" target="_blank" rel="noopener noreferrer" class="pre-nav-link"><i class="fab fa-linkedin"></i></a>
  </div>
</section>
