<section class="pre-navbar hidden-sm-down">
  <ul class="pre-nav-links">
    <li><i class="fas fa-envelope"></i><a href="mailto:clconseil@aol.fr" arial-label="email" class="pre-nav-link">clconseil@aol.fr</a></li>
    <li><i class="fas fa-mobile"></i><a href="tel:+33680749913" arial-label="telephone" class="pre-nav-link">+ 33 6 80 74 99 13</a></li>
    <li> <i class="fas fa-phone"></i><a href="tel:+33556755866" arial-label="telephone" class="pre-nav-link">+ 33 5 56 75 58 66</a></li>
    <li>
      <a href="https://www.linkedin.com/in/corine-pesier-73975a5b/" target="_blank" rel="noopener noreferrer" class="pre-nav-link">
        <i class="fab fa-linkedin"></i>
        <span class="sr-only">Linkedin profile</span>
      </a>
    </li>
  </ul>
</section>
