// Define variables for your color scheme
$dark-red: #6B001E;
$dark-blue: #2E4057;
$light-blue: #12324A;
$light-gray: #F4F4F4;
$cream: #FCF2E3;
$gray: #7F7F7F;
$dark-gray: #262626;
$blue-gray: #F1F3F7;



