.footer {
  // background-image: url("https://res.cloudinary.com/dqszntd5j/image/upload/v1593603550/background-1_eoc7zq.png");
  // background-size: cover;
  // background-position: center bottom;
  background: $dark-red;
  color: $white;
  font-size: 14px;
  padding: 20px 0;
}

.footer-logo-container {
  width: fit-content;
}

#nav-logo-left {
  margin: 20px auto;
}

.footer-btn {
  text-align: center;
  padding: 20px 0 50px;
}

.btn-contact-footer {
  // background: $white;
  color: $white;
  padding: 13px 20px;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid $white;
}

.btn-contact-footer:hover {
  color: $dark-red;
  background: $white;
  border: 1px solid $dark-red;
  box-shadow: 1px 1px 0px 0px rgba(107, 39, 58, 0.8);
}

.footer-info {
  display: flex;
  align-items: flex-start;
  margin: 20px 15px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;

  p {
    font-weight: lighter;
    font-size: 13px;
  }
}

.footer-lists {
  margin: 0 40px;
}

.footer-list {
  list-style-type: none;
  padding: 0px;

  li {
    padding: 2px 0;
  }
}

.footer-list-title {
  font-weight: bold;
}

.separator-gradient-footer {
  height: 5px;
  position: relative;
  width: 80%;
  background: radial-gradient(ellipse farthest-side at top center, white, transparent);
  margin: auto;
}

.footer-links {
  i {
    font-size: 36px;
  }
}

.footer-link {
  color: white;
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }
}

#copyright {
  text-align: center;
}

#colophon {
  color: $white;
  background-color: $dark-red;
  padding: 20px 0;
  margin: 0 auto;
}

.credits {
  p {
    margin: 0;
    text-align: center;
  }
}

.logo-dev {
  height: 45px;
  width: auto;
  margin: 0 10px;
  vertical-align: middle;
}



@keyframes flip {
  from {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}

.flip:hover {
  animation: 1s both flip;
}

@media (max-width: 768px) {
  .footer-links {
    justify-content: center;
    padding: 20px 0;

    p {
      font-size: 18px
    }
  }

  #copyright {
    max-width: 100%;

    p {
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer {
    height: 300px;
  }
}

@media screen and (max-width: 1099px) {
  .footer-logo-container {
    margin: 10px auto 0;
  }

  .footer-info {
    justify-content: center;
  }

  .footer-lists {
    // margin: 0 auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer-info {
    display: block;
    margin: 20px auto;
    width: fit-content;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}
