.pre-navbar {
  background: $dark-gray;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: white;
}

.pre-nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-size: 14px;

  li {
    padding: 0 25px;
  }

  .fa-phone,
  .fa-mobile,
  .fa-envelope {
    padding-right: 5px;
    font-size: 18px;
  }
}

.fa-linkedin {
  font-size: 28px;
}

.pre-nav-link {
  color: white;
  text-decoration: none;
}

.pre-nav-link:hover,
.fa-linkedin:hover {
  opacity: 0.75;
  cursor: pointer;
}


// @media screen and (max-width: 1024px) {
//   .pre-nav-links {
//     width: 100vw;
//   }
// }
