.pre-navbar {
  background: $dark-gray;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}

.pre-nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;

  .fa-phone,.fa-mobile,.fa-envelope{
    padding-right: 10px;
    font-size: 22px;
  }
}

.fa-linkedin{
  font-size: 32px;
}

.pre-nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 25px;
}

.pre-nav-link:hover {
  opacity: 0.75;
}


@media screen and (max-width: 1024px) {
  .pre-nav-links{
    width: 100vw;
  }
}
