// body {
//   font-family: $body-font;
//   margin: 0px;
//   height: 100%;
// }

body,
html {
  font-family: $body-font;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body.user-is-tabbing *:focus,
.selected-flag:focus {
  outline: 2px solid #7acdfe !important;
  /* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) .iti__selected-flag:focus {
  outline: none !important;
}

.freezePage {
  overflow: hidden;
  height: 100%;
}

// App titles utils
.mini-title {
  font-style: italic;
  font-size: 22px;
  color: $dark-red;
  text-align: center;
  margin: 20px auto 5px auto;
}

.section {
  padding: 20px 0 50px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  font-family: $headers-font;
  margin-top: 0;
  letter-spacing: 1px;
}

.text-white {
  color: $white;
}

.separator-gradient {
  height: 5px;
  position: relative;
  width: 80%;
  background: radial-gradient(ellipse farthest-side at top center, #6b001e, transparent);
  margin: auto;
}

.separator {
  margin: 20px auto;
  width: 120px;
  border-top: 3px solid #6B001E;
  border-radius: 5px;
}

// scroll icon
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  bottom: 15px;
  width: 34px;
  height: 55px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}


.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(38px);
  }
}


// Utilities classes (take on Bootstrap)
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// Restore Bootstrap 3 "hidden" utility classes.
/* Breakpoint XS */
@media (max-width: 575px) {

  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {

  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {

  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {

  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px) {

  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}
