---
title: Accompagnement - C.L.A.S.S.E. Conseil
---
<div class="parallax"
  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dqszntd5j/image/upload/v1594139562/Picture1_rztno4.png);">
  <div class="banner-title-wrapper">
    <h1 class="banner-title" id="accompagnement-title">Accompagnement</h1>
  </div>
</div>
<section class="pratique_pro-page section container">
  <h2 class="section-title">Offre de prestations d’accompagnement</h2>
  <p class="mini-title">Notre catalogue</p>
  <hr class="separator" />
  <div class="accompagnement-wrapper padding-50" id="accompagnement-anchor">
    <div class="accordion-wrapper">
      <div class="accordion-item">
        <button class="accordion first-child">
          Accompagnement individuel
        </button>
        <div class="accordion-panel">
          <ul>
            <li>Renforcement personnalisé en management</li>
            <li>Développement de l’empowerment</li>
            <li>Accompagnement à une nouvelle prise de fonction</li>
            <li>Accompagnement personnalisé en management</li>
            <li>Développement de l'empowerment</li>
            <li>Accompagnement à la prise de fonction</li>
            <li>Connaissance de soi</li>
            <li>Développement de ses capacités de communicant</li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion">
          Accompagnement collectif
        </button>
        <div class="accordion-panel">
          <ul>
            <li>Coaching d’équipe pour la construction d’un collectif de travail</li>
            <li>Coaching d'équipe pour un collectif de travail: Vision et Stratégie</li>
            <li>Coaching d'intégration du changement</li>
            <li>Séminaire de Team Building</li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion last-child">
          Bilan de compétences
        </button>
        <div class="accordion-panel">
          <ul>
            <li>Évaluation des compétences et orientation professionnelle à partir de la mise en adéquation des intérêts
              professionnels avec les composantes de la personnalité</li>
            <li>Test SOSIE 2nd génération : inventaire des comportements au travail, des besoins et des motivations
              professionnels</li>
            <li>Programmes : 12H 16H 24H</li>
          </ul>
          <div class="catalogue-link-wrapper">
            <%= link_to 'Consulter pour exemple la fiche bilan de compétences 16H',
            '../assets/images/programme_bilan_de_competences.pdf', target: '_blank', rel: "noopener noreferrer", class:
            "catalogue-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
