---
title: Formations - C.L.A.S.S.E. Conseil
---
<section class="pratique_pro-page section container">
  <p class="mini-title">Notre catalogue</p>
  <h2 class="section-title">Offre de prestations de formation et d’accompagnement</h2>
  <hr class="separator">
  <div class="catalogue-wrapper padding-50">
    <div class="accordion-wrapper">
      <div class="accordion-item">
        <button class="accordion first-child">Management</button>
        <div class="accordion-panel">
          <ol>
            <li>Utiliser l’intelligence émotionnelle dans le cadre du management des équipes.</li>
            <li>Construire son modèle de management en 6 points clés.</li>
            <li>Renforcer son positionnement et sa posture professionnel d’encadrant en développant des attitudes
              assertives.</li>
            <li>Animer et encadrer une équipe (3 programmes).</li>
            <li>Devenir un Manager Coach.</li>
            <li>Déléguer et responsabiliser.</li>
            <li>Arbitrer et prendre des décisions.</li>
            <li>Communiquer et mener des entretiens.</li>
            <li>Faire évoluer et gérer les compétences de son équipe.</li>
            <li>Fixer et évaluer des objectifs. </li>
            <li>GRH et intégration d’un collaborateur.</li>
            <li>Gestion des conflits (2 programmes).</li>
            <li>Mener un entretien professionnel d’évaluation.</li>
            <li>Travailler en mode projet.</li>
            <li>Manager en transversal : Le travail en mode projet dans le service.</li>
            <li>Construire une identité professionnelle pour un collectif de travail</li>
            <li>Conduite du Changement et Éthique du Changement.</li>
            <li>Réussir ses projets de transformation par le développement de ses compétences managériales et
              relationnelles.</li>
            <li>Développer une culture commune dans un contexte de changement</li>
          </ol>
          <%= link_to 'Voir le détail des formations', '../assets/images/catalogue_formations_management.pdf', target: '_blank', rel: "noopener noreferrer" %>
        </div>
      </div>
    </div>
  </div>
</section>
