---
title: Formations - C.L.A.S.S.E. Conseil
---

<div class="parallax"
  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dqszntd5j/image/upload/v1594123327/consulting-2045471_960_720_ktrfhd.jpg);">
  <div class="banner-title-wrapper">
    <h1 class="banner-title">Formations</h1>
  </div>
</div>
<section class="pratique_pro-page section container">
  <p class="mini-title">Notre catalogue</p>
  <h2 class="section-title">Offre de prestations de formation</h2>
  <hr class="separator" />
  <div class="catalogue-wrapper padding-50">
    <div class="accordion-wrapper" id="formations-list">
      <div class="accordion-item">
        <button class="accordion first-child">
          Management (19 formations)
        </button>
        <div class="accordion-panel">
          <ol>
            <li>
              Utiliser l’intelligence émotionnelle dans le cadre du management
              des équipes.
            </li>
            <li>Construire son modèle de management en 6 points clés.</li>
            <li>
              Renforcer son positionnement et sa posture professionnel
              d’encadrant en développant des attitudes assertives.
            </li>
            <li>Animer et encadrer une équipe (3 programmes).</li>
            <li>Devenir un Manager Coach.</li>
            <li>Déléguer et responsabiliser.</li>
            <li>Arbitrer et prendre des décisions.</li>
            <li>Communiquer et mener des entretiens.</li>
            <li>Faire évoluer et gérer les compétences de son équipe.</li>
            <li>Fixer et évaluer des objectifs.</li>
            <li>GRH et intégration d’un collaborateur.</li>
            <li>Gestion des conflits (2 programmes).</li>
            <li>Mener un entretien professionnel d’évaluation.</li>
            <li>Travailler en mode projet.</li>
            <li>
              Manager en transversal : Le travail en mode projet dans le
              service.
            </li>
            <li>
              Construire une identité professionnelle pour un collectif de
              travail
            </li>
            <li>Conduite du Changement et Éthique du Changement.</li>
            <li>
              Réussir ses projets de transformation par le développement de ses
              compétences managériales et relationnelles.
            </li>
            <li>
              Développer une culture commune dans un contexte de changement
            </li>
          </ol>
          <div class="catalogue-link-wrapper">
            <%= link_to 'Voir le détail des formations',
            '../assets/images/catalogue_formations_management.pdf', target:
            '_blank', rel: "noopener noreferrer", class: "catalogue-link" %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion">
          Santé mentale au travail (5 formations)
        </button>
        <div class="accordion-panel">
          <ol>
            <li>Faire face aux situations de stress</li>
            <li>
              Prévenir la souffrance au travail dans le cadre du management de
              proximité
            </li>
            <li>Instaurer une démarche de prévention des RPS</li>
            <li>Encadrement et bien-être au travail</li>
            <li>
              Accueillir la parole des victimes de violences sur le lieu de
              travail
            </li>
          </ol>
          <div class="catalogue-link-wrapper">
            <%= link_to 'Voir le détail des formations',
            '../assets/images/catalogue_formations_sante_mentale_au_travail.pdf',
            target: '_blank', rel: "noopener noreferrer", class:
            "catalogue-link" %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion">
          Efficience personnelle au poste de travail (16 formations)
        </button>
        <div class="accordion-panel">
          <ol>
            <li>L’entretien professionnel pour les évalués</li>
            <li>
              S’affirmer dans le cadre de l’exercice professionnel avec les
              ressources de l’assertivité
            </li>
            <li>
              Mieux gérer son quotidien professionnel et augmenter ses
              compétences de communication avec les ressources de l’A.T. et le
              modèle PCM
            </li>
            <li>
              Développer son empowerment : augmenter sa capacité à influer
            </li>
            <li>Conduire et animer une réunion</li>
            <li>
              Organisation du travail et gestion des priorités (2 programmes)
            </li>
            <li>La prise de parole en public</li>
            <li>Méthodologie de la synthèse écrite et orale</li>
            <li>Prise de parole en public: Argumenter et Convaincre</li>
            <li>Techniques rédactionnelles</li>
            <li>Lecture rapide et efficace</li>
            <li>Constituer son dossier R.A.E.P</li>
            <li>L’entretien avec le jury</li>
            <li>Parcours professionnel pour les secrétaires assistantes</li>
            <li>Gérer les situations professionnelles difficiles</li>
            <li>
              La gestion des situations d’accueil des publics en détresse
              psychologique
            </li>
          </ol>
          <div class="catalogue-link-wrapper">
            <%= link_to 'Voir le détail des formations',
            '../assets/images/catalogue_formations_efficience_perso.pdf',
            target: '_blank', rel: "noopener noreferrer", class:
            "catalogue-link" %>
          </div>
        </div>
      </div>
      <div class="accordion-item last-child">
        <button class="accordion">
          Analyse des pratiques professionnelles
        </button>
        <div class="accordion-panel">
          <p>
            Les interventions ont pour objectif la professionnalisation soit par
            :
          </p>
          <ul>
            <li>
              Le renforcement des compétences requises par l’exercice
              professionnel
            </li>
            <li>
              Le renforcement de l’identité professionnelle autour des règles et
              des valeurs requises par l’exercice professionnel
            </li>
            <li>L’élucidation des contraintes et des enjeux spécifiques</li>
            <li>
              Le développement de la compréhension et de l’adaptation à autrui
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
