---
title: C.L.A.S.S.E. Conseil (Formation & Bilan de compétences)
---

<section class="pre-navbar">
  <div class="pre-nav">
    <div class="pre-nav-info">
      <i class="fas fa-mobile"></i> +33 6 80 74 99 13
      <i class="fas fa-phone"></i> + 33 5 56 75 58 66
    </div>
    <div class="pre-nav-links">
      <a href="#"><i class="fas fa-envelope"></i> clconseil@aol.fr</a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>
