---
<<<<<<< HEAD
title: C.L.A.S.S.E. Conseil (Formation & Bilan de compétences)
---

<section class="pre-navbar">
  <div class="pre-nav">
    <div class="pre-nav-links">
      <a href="#"><i class="fas fa-envelope"></i> clconseil@aol.fr</a>
      <div class="pre-nav-info">
        <i class="fas fa-mobile"> + 33 6 80 74 99 13</i>
        <i class="fas fa-phone"> + 33 5 56 75 58 66</i>
      </div>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>
=======
title: C.L.A.S.S.E. Conseil - Votre partenaire RH et formation
---
<h1 class="text-center">Welcome</h1>
>>>>>>> 750cf4239b63e6df5ea17896f57b13dd58749bc7
